<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='checkerboard.css')}}">
    <title>Checkerboard</title>
</head>
<body>
    <h1 style="background-color: {{color1}}; color: {{color2}};">*** CHECKERBOARD ***
    </h1>
    <table>
        {% for x in range(row) %}
        <tr>
            {% for y in range(col) %}
                {% if (x+y) % 2 == 1 %}
                <td style="background-color: {{color1}};">
                </td>
                {% else %}
                <td style="background-color: {{color2}};">
                </td>
                {%  endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>