<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
</head>
<style>
    .flexbox {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .square {
        height: 100px;
        width: 100px;
        border: 2px solid black;
        margin: 5px 0px;
        background-color: {{ color }};
    }
</style>
<body>
    <div class=flexbox>
        {% for i in range(num): %}
        <div class = square>
        </div>
        {% endfor %}
    </div>
</body>
</html>